@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
.rojita {
  color: #5e0202;
  font-weight: bold;
}

.negrita {
  color: black;
  font-weight: bold;
}

* {
  text-decoration: none;
  margin: 0%;
  padding: 0%;
}

.navegador a {
  transition: 0.5s;
}
.navegador a:hover {
  font-size: 55px;
}

.tamano_img {
  transition: 0.5s;
}

.tamano_img:hover {
  height: 325px;
  width: 325px;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 100px;
}
.intro .principalImg {
  border: black solid 5px;
  height: 400px;
  width: 400px;
  justify-self: end;
}
.intro .parrafo {
  font-size: 40px;
  margin: 55px;
  margin-top: -10px; /* la unica forma de que quede bien es poniendo el numero negativo*/
  list-style-type: none;
}

/* Para albums */
.portadaAlbum {
  height: 400px;
  width: 400px;
  justify-self: end;
}

.informacion {
  margin-top: 20px;
}

.arriba {
  width: 70px;
  height: 70px;
  position: sticky;
  top: 760px;
  left: 95%;
}

.queFue {
  margin-top: 35px;
}
.queFue .titulo {
  font-weight: bold;
  color: #5e0202;
  font-size: 50px;
  font-family: "Aboreto";
  margin-left: 100px;
}
.queFue .parrafo {
  font-size: 35px;
}

.album1 {
  grid-area: album1;
  justify-self: end;
}

.album2 {
  grid-area: album2;
}

.album3 {
  grid-area: album3;
  justify-self: end;
}

.album4 {
  grid-area: album4;
}

.albums {
  margin-top: 100px;
  display: grid;
  grid-template-areas: "titulo titulo" "album1 album2" "album3 album4";
  gap: 30px;
}
.albums .titulo {
  font-family: "Aboreto";
  font-weight: 20px;
  color: #5e0202;
  font-size: 50px;
  grid-area: titulo;
  /* FLEX */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.tamano_img {
  height: 300px;
  width: 300px;
}

.historia {
  margin-top: 150px;
}
.historia .titulo {
  font-family: "Aboreto";
  font-weight: 20px;
  color: #5e0202;
  font-size: 50px;
  margin-bottom: 100px;
  font-weight: bold;
}
.historia .parrafo {
  font-size: 35px;
  margin: 60px;
}
.historia .tituloSecundario {
  font-weight: bold;
  color: #5e0202;
  font-size: 45px;
  font-family: "Aboreto";
  margin-left: 100px;
}

.info .parrafo {
  font-size: 35px;
  margin: 60px;
  margin-top: 50px;
  font-weight: 400;
}
.info .informacion {
  margin-left: 20px;
  margin-top: 20px;
}

.listaLarga {
  display: flex;
  flex-wrap: wrap;
}
.listaLarga .primeraColumna {
  margin-right: 100px;
}

.formulario {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 150px;
  color: #5e0202;
  margin-bottom: 150px;
}

label {
  font-size: 40px;
}

textarea {
  height: 300px;
  width: 500px;
}

input {
  height: 30px;
  width: 250px;
}

.parrafoCont {
  font-family: "Aboreto";
  color: #5e0202;
  font-weight: bold;
  font-size: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #5e0202;
  height: 120px;
  font-family: "Aboreto";
  color: white;
  font-size: 23px;
  font-style: italic;
  font-weight: 10;
}

.tituloPrincipal {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #5e0202;
  height: 200px;
  width: 100%;
  font-family: "Aboreto";
  color: white;
  font-size: 100px;
  font-style: italic;
  font-weight: 10;
}

.tituloLargo {
  font-size: 70px;
}

.navegador {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 15px;
  text-decoration: none;
  list-style: none;
  font-family: "Aboreto";
  font-size: 50px;
  font-weight: bold;
  margin-left: 96px;
}
.navegador a {
  color: black;
  text-decoration: none;
}

/*medias*/
@media (max-width: 1600px) {
  .arriba {
    display: none;
  }
  .intro {
    display: flex;
    /* Cambiamos el display a flex en dispositivos móviles */
    flex-direction: column;
    /* Alineamos los elementos en columna */
    align-items: center;
    /* Centramos horizontalmente */
  }
  .intro br.brPrincipal {
    display: none;
  }
  .intro .parrafo {
    margin: 20px;
  }
  .tituloLargo {
    font-size: 60px;
  }
}
@media screen and (max-width: 875px) {
  /* Cabecera */
  .tituloPrincipal {
    font-size: 50px;
    height: 100px;
  }
  .tituloLargo {
    font-size: 40px;
  }
  .navegador {
    font-size: 40px;
    /* Ajusta el tamaño de fuente para pantallas más pequeñas */
    margin-left: 0;
    /* Elimina el margen izquierdo en pantallas más pequeñas */
    padding: 0;
  }
  .tamano_img:hover {
    height: 300px;
    width: 300px;
  }
  .navegador > * {
    flex: 1;
    /* Hace que todos los elementos ocupen el mismo espacio en pantallas más pequeñas */
    text-align: center;
    /* Centra el texto en cada elemento */
  }
  .navegador > * a:hover {
    font-size: inherit;
    /* O cualquier otro estilo que desees en dispositivos móviles */
  }
  .intro .principalImg {
    border: black solid 3px;
    height: 300px;
    width: 300px;
  }
  .intro .parrafo {
    font-size: 30px;
    margin: 15px;
  }
  .intro .portadaAlbum {
    height: 300px;
    width: 300px;
    justify-self: center;
  }
  .intro .queFue .titulo {
    margin-left: 0;
    text-align: center;
  }
  .intro .tituloLargo {
    font-size: 45px;
  }
}
@media screen and (max-width: 620px) {
  /* Cabecera */
  .tituloPrincipal {
    font-size: 30px;
    height: 75px;
    width: 100%;
  }
  .navegador {
    font-size: 20px;
    /* Ajusta el tamaño de fuente para pantallas más pequeñas */
  }
  /* INTRO */
  .intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 50px;
  }
  .intro .principalImg {
    justify-self: center;
    height: 150px;
    width: 150px;
  }
  .intro .parrafo {
    justify-self: start;
    font-size: 15px;
    margin: 0;
  }
  .intro .portadaAlbum {
    height: 180px;
    width: 180px;
    justify-self: center;
  }
  .intro .informacion {
    margin-top: 10px;
  }
  .info .parrafo {
    font-size: 20px;
    margin-top: 30px;
    margin: 20px;
  }
  .info .titulo {
    font-size: 30px;
    margin: 0;
    text-align: center;
  }
  /* QUE FUE */
  .queFue .titulo {
    font-size: 30px;
    margin-left: 0;
    text-align: center;
  }
  .queFue .parrafo {
    margin: 20px;
    font-size: 20px;
  }
  /* ALBUMS */
  .albums {
    margin-top: 50px;
    gap: 15px;
  }
  .albums .titulo {
    font-size: 30px;
  }
  .albums .tamano_img {
    height: 150px;
    width: 150px;
  }
  .tituloLargo {
    font-size: 22px;
  }
  /* HISTORIA */
  .historia {
    margin-top: 50px;
  }
  .historia .titulo {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .historia .tituloSecundario {
    font-size: 25px;
    margin-left: 50px;
  }
  .historia .parrafo {
    font-size: 20px;
    margin: 20px;
  }
  .formulario {
    font-size: 15px;
  }
  label {
    font-size: 25px;
  }
  textarea {
    height: 130px;
    width: 300px;
  }
  footer {
    height: 75px;
    font-size: 14px;
  }
  .parrafoCont {
    font-size: 20px;
  }
  .tituloLargo2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 480px) {
  .intro {
    display: flex;
    /* Cambiamos el display a flex en dispositivos móviles */
    flex-direction: column;
    /* Alineamos los elementos en columna */
    align-items: center;
    /* Centramos horizontalmente */
  }
  .intro br.brPrincipal {
    display: none;
  }
  .intro .parrafo {
    margin: 20px;
  }
  .navegador {
    font-size: 15px;
  }
  .queFue .titulo {
    font-size: 20px;
    margin-left: 0;
    text-align: center;
  }
  .queFue .parrafo {
    margin: 15px;
    font-size: 15px;
  }
  /* ALBUMS */
  .albums {
    margin-top: 50px;
    gap: 15px;
  }
  .albums .titulo {
    font-size: 22px;
  }
  .albums .tamano_img {
    height: 130px;
    width: 130px;
  }
  .tituloLargo {
    font-size: 22px;
  }
  /* HISTORIA */
  .historia {
    margin-top: 50px;
  }
  .historia .titulo {
    font-size: 22px;
    margin-bottom: 50px;
  }
  .historia .tituloSecundario {
    font-size: 20px;
    margin-left: 50px;
  }
  .historia .parrafo {
    font-size: 15px;
    margin: 20px;
  }
  .formulario {
    font-size: 15px;
  }
  label {
    font-size: 25px;
  }
  textarea {
    height: 100px;
    width: 250px;
  }
  footer {
    height: 75px;
    font-size: 10px;
  }
  .parrafoCont {
    font-size: 15px;
  }
  .tituloLargo2 {
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
